body{
    margin: 10px;
    border: rgba(63, 179, 179, 0.616);
    background-color: rgb(150, 211, 150)
}



h1{
    text-shadow: 2px 2px 2px aqua;
    text-transform:uppercase ;
    background-clip:text ;
    -webkit-background-clip:text ;
    -webkit-text-fill-color:transparent;
    border: solid 10px;
    background-color: rgb(45, 131, 102);
}

h2{

    color: rgb(161, 144, 117);
}

h3{
    color: rgb(143, 177, 177);
}




 h4{
    color: rgb(92, 74, 105);
 }  

li{
    color: rgb(66, 66, 114);
}

ul{
    color: rgb(75, 53, 53);
}